body {
  font-family: Arial, sans-serif;
  color: maroon;
  font-size: 14px;
  background-color: white;
}

/* разметка страницы */
.grid {
  display: grid;
  grid-template: 100px 450px 1fr 50px / 1fr 10fr 1fr;
  grid-row-gap: 10px;
}
.header {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}
.add-message {
  grid-row: 2 / span 1;
  grid-column: 2 /span 1;
}
.list-messages {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}
.footer {
  grid-row: 4 /  span 1;
  grid-column: 1 / span 3;
}

/* Блоки */
.box {
  background-color: #F5F5F5;
  color: black;
  border-radius: 4px;
  border: 1px #A9A9A9 solid;
}
.box-message {
  background-color: #F5F5F5;
  color: black;
  border-radius: 4px;
  border: 1px #DCDCDC solid;
  margin: 4px 4px;
}
.displayNone {
  display: none;
}
/* Выравнивание полей формы*/
form .add-message {
  width: 600px;
  overflow:hidden;
  padding: 2px;
}
form label {
  float:left;
  width:200px;
  text-align: right;
  font-style: oblique;
  font-weight: bold;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
form input[type=text], form input[type=url] {
  width: 200px;
  background: #fff;
  border: 1px solid #7f9db9;
  height: 20px;
}
.button {
  margin-left: 100px;
}
form input[type=submit] {
  display: inline-block;
  background-color: #CCCCCC;
  border:1px solid #999999;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  width: 100;
  height: 25;
  color: #000000;
  font-family: Arial;
  font-size: 12px;
}
form input[type=submit]:hover {
  border:1px solid #777777;
  background-color: #999999;
}
form input[type=submit]:active {
  border:1px solid #777777;
  background-color: #999999;
}
input: focus + label, textarea: focus + label {
  color: #993;
}
/* Выравнивание элементов сообщения */
.title-message {
  display:flex;
  align-items:center;
  justify-content: flex-end;
  height:20px;
}
.push {
  margin-left: auto;
}
/* Выравнивание кнопок сортировки */
.arrows-title-message {
  margin-left: 4px;
  margin-right: 8px;
  flex-direction: column;
}
.text-message {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

#fileinfo-img, #fileinfo-file {
  margin-left: 5px;
}
