<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="гостевая книга, сообщения"/>
        <meta name="description" content="Гостевая книга"/>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
        {% endblock %}
  </head>
    <body>
        <div class="grid">
            <!-- Заголовок -->
            <div class="box grid-header">
                <div class="header">
                    <h1>Гостевая книга</h1>
                </div>
            </div>
            <!-- Форма для ввода нового сообщения -->
            <div class="box grid-add-message">
                <div id="contentForm">
                    {% block contentForm %}
                    {% endblock %}
                </div>
            </div>
            <!-- Вывод списка сообщений с учетом заданной сортировки -->
            <div class="box grid-list-messages">
                <div id="contentMessages">
                    {% block contentMessages %}
                    {% endblock %}
                </div>
            </div>
            <!-- Подвал -->
            <div class="box grid-footer">
                <p class="text-footer">администратор: иван иванов +111 11 1111111</p>
            </div>
        </div>
        {% block javascripts %}
        {% endblock %}
  </body>
</html>
