<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="гостевая книга, сообщения"/>
        <meta name="description" content="Гостевая книга"/>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block login %}
        {% endblock %}
        <!-- Заголовок -->
        <div class="jumbotron jumbotron-fluid mb-1 border bg-light">
        <div class="container">
          <h1 class="display-6 text-muted">Гостевая книга</h1>
          <p class="lead text-black-50">Оставьте свое мнение о ресурсе, а также любые другие записи</p>
        </div>
      </div>
            <!-- Форма для ввода нового сообщения -->
        <div class="container my-1 my-lg-1 px-lg-2">
            <div class="row mx-lg-2">
                <div id="contentForm" class="col py-2 px-lg-1 border bg-light">
                    {% block contentForm %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Вывод списка сообщений с учетом заданной сортировки -->
        {% block contentmessages %}
        {% endblock %}
        <!-- Подвал -->
        <div class="container my-1 my-lg-1 px-lg-2">
            <div class="row mx-lg-2">
                <div class="col py-2 px-lg-1 border bg-light text-muted text-center">администратор: иван иванов +111 11 1111111</div>
            </div>
        </div>
        {% block javascripts %}
        {% endblock %}
  </body>
</html>
