<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="гостевая книга, сообщения"/>
        <meta name="description" content="Гостевая книга"/>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
        {% endblock %}
  </head>
    <body>
            <!-- Заголовок -->
        <div class="jumbotron jumbotron-fluid">
        <div class="conteiner">
          <h1 class="display-6">Гостевая книга</h1>
          <p class="lead">Оставьте свое мнение о ресурсе, а также любые другие записи</p>
        </div>
      </div>
            <!-- Форма для ввода нового сообщения -->
        <div class="conteiner my-2 my-lg-2 px-lg-5">
            <div class="row mx-lg-3">
                <div id="contentForm" class="col py-3 px-lg-1 border bg-light">
                    {% block contentForm %}
                    {% endblock %}
                </div>
            </div>
        </div>
            <!-- Вывод списка сообщений с учетом заданной сортировки -->
        <div class="conteiner my-2 my-lg-2 px-lg-5">
            <div class="row mx-lg-3">
                <div id="contentMessages" class="col py-3 px-lg-1 border bg-light">
                    {% block contentMessages %}
                    {% endblock %}
                </div>
            </div>
        </div>
            <!-- Подвал -->
        <div class="conteiner my-2 my-lg-2 px-lg-5">
            <div class="row mx-lg-3">
                <p class="col py-3 px-lg-1 border bg-light text-footer ">администратор: иван иванов +111 11 1111111</p>
            </div>
        </div>
        {% block javascripts %}
        {% endblock %}
  </body>
</html>
