.idea
.env
app/guestbook/config/config.php
app/guestbook/public/upload/
app/guestbook/var/
app/guestbook/vendor/
app/guestbook/.env
app/guestbook/yarn-error.log
app/guestbook/robots.txt
app/guestbook/.php_cs.cache
app/guestbook/phpmd.html
app/guestbook/node_modules
app/guestbookvar/
docker/mysql/*
docker/nginx/site.conf
