{% extends "base.html.twig" %}

{% block title %}
    Гостевая книга
{% endblock %}

{% block contentForm %}
    <h4>Добавить сообщение</h4>
    {% include 'user/formMessage.html.twig' %}
{% endblock %}

{% block contentMessages %}
    {% include 'user/contentMessages.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('build/vendors~app.js') }}"></script>
    <script src="{{ asset('build/runtime.js') }}"></script>
{% endblock %}
