{% extends "base.html.twig" %}

{% block title %}
    Гостевая книга
{% endblock %}

{% block login %}
    {% include 'user/form-login.html.twig' %}
{% endblock %}

{% block contentForm %}
    <h5 class="text-muted px-2">Добавить сообщение</h5>
    {% include 'user/form-message.html.twig' %}
{% endblock %}

{% block contentmessages %}
    <div class="container my-1 my-lg-1 px-lg-2">
        <div class="row mx-lg-2">
            <div id="contentMessages" class="col py-2 px-lg-1 border bg-light">
                {% include 'user/content-messages.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('build/vendors~app.js') }}"></script>
    <script src="{{ asset('build/runtime.js') }}"></script>
{% endblock %}
