{% extends "base.html.twig" %}

{% block title %}
    Гостевая книга
{% endblock %}

{% block contentForm %}
    <h2>Добавить сообщение</h2>
    {% include 'formMessage.html.twig' %}
{% endblock %}

{% block contentMessages %}
    {% include 'contentMessages.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}
