<?php
// Configuration file - copy from config-dist.php to config.php
// and then edit.

namespace Piv\Guestbook\App\Config;

class Config {
    //paths to directories
    public const DIR_UP =  '../';
    public const DIR_PUBLIC = '../public/';
    public const DIR_APP = '../app/';
}
