@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v1/adVweg3BJhE6r8jYmXseHQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(https://fonts.gstatic.com/s/spacemono/v1/vdpMRWfyjfCvDYTz00NEPGaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: maroon;
  font-size: 14px;
  background-color: white;
}
label.required:after {
    content: " *";
    color:red;
}


/* Отображение текста заголовка и подвала */
.text-footer {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  line-height: 1.25;
  text-align: right;
  padding-right: 10px;
}

form #preview-message {
  margin: 10px 10px;
  border: 1px #A9A9A9 solid;
  width: 300px;
  height: 110px;
  border-radius: 5px;
  flex: auto;
  padding: 7px;
  display:none;
  opacity: 0;
  overflow: scroll;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

input:focus+label, textarea:focus+label {
  color: #993;
}
/*-----------------------*/
/* Выравнивание элементов списка сообщений */
.title-message {
  display:flex;
  align-items:center;
  justify-content: flex-end;
  height:20px;
  padding: 5px;
  font-weight: 600;
}
.title-message-fields {
  font-size: 12px;
  font-weight: 600;
  text-decoration:none;
}
.title-message-fields a:link, a:visited {
  color: #444444;
  text-decoration: none;
}
.title-message-fields a:hover, a:active {
  color: #555555;
  text-decoration: none;
}
.arrows-title-message {
  flex-direction: column;
}

p {
  text-align: justify;
}
